.home{

color:white;

position:absolute;

top:10px;

left:0px;

}

.main-head{

position:absolute;

top:5px;

width:1350px;

height:50px;

background-color:black;

border:2px solid yellow;

border-radius:5px;

text-align:center;

}

.title{

color:white;

font-size:30px;

font-style:italic;

}

.topics

{

position:absolute;

top:100px;

left:350px;

width:650px;

height:250px;

}

td{

background-color:blue;

text-align:center;

font-size:30px;

}

a{

color:white;

}

td:hover{

background-color:black;

color:white;

}

.content{

position:absolute;

top:60px;

width:1350px;

height:500px;

border:1px solid black;

}